.main-title {
	font-weight: 700;
	font-size: 80px;
	line-height: 1.5;
	@media (max-width: 900px) {
		font-size: 60px;
	}
	@media (max-width: 425px) {
		font-size: 50px;
	}
}

.section-title {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
	text-align: center;
}
.section-subtitle {
	font-weight: 400;
	font-size: 15px;
	line-height: 1.5;
	text-align: center;
}
